<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/parkingLots/<%= parkingLot._id %>?_method=PUT"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="parkingLot[title]"
          value="<%= parkingLot.title %>"
          required
        />
        <div class="valid-feedback">Looks good !</div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="parkingLot[location]"
          value="<%= parkingLot.location %>"
          required
        />
        <div class="valid-feedback">Looks good !</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="parkingLot[description]"
          id="description"
          class="form-control"
        >
        <%= parkingLot.description %>
        </textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Parking Lot Price Hourly</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            id="price"
            name="parkingLot[price]"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="basic-addon1"
            value="<%= parkingLot.price %>"
            required
          />
          <div class="valid-feedback">Looks good !</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Add More Image</label>
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <% parkingLot.images.forEach(function(img,i){ %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
        </div>
        <label for="image-<%= i %>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3 align-center justify-center mx-auto">
        <button class="btn btn-info">Update Parking Lot</button>
      </div>
    </form>
    <a href="/parkingLots">All Parking Lots</a>
    <a href="/parkingLots/<%= parkingLot._id %>">Back to Parking Lot</a>
  </div>
</div>
